{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Djunior is a companion website to http://djak.azurewebsites.net.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Django-ism &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django so on so forth.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Book &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is so on and so forth.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Python package index &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>This website was easy to publish from Visual Studio to Azure.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Azure &raquo;</a></p>
    </div>
</div>

{% endblock %}
