{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Djak</h1>
    <p class="lead">Django web framework (HTML, CSS JS, Python) to put data-driven research on the web.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Django Central &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Under the Django hood...</h2>
        <p>
            Django = patterns, dynamic websites, separation of concerns, etc.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Django Book &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PyPi</h2>
        <p>pypi, the Python Package Index, is a repo of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Python Package Index &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft stack</h2>
        <p>This Django instance was built on the Microsoft Azure cloud technology stack. The IDE is Visual Studio. The code repo is GitHub.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Azure &raquo;</a></p>
    </div>
</div>

{% endblock %}
